OPENAI_COMPATIBLE_BASE_URL=
OPENAI_COMPATIBLE_API_KEY=
OPENAI_COMPATIBLE_MODEL=
OPENAI_COMPATIBLE_API_MODE=chat_completions
OPENAI_COMPATIBLE_REASONING_EFFORT=high
OPENAI_COMPATIBLE_STREAM=false
OPENAI_COMPATIBLE_TEMPERATURE=0.7
OPENAI_COMPATIBLE_MAX_TOKENS=4000
OPENAI_COMPATIBLE_TIMEOUT=180000
LOCAL_ENCRYPTION_KEY=
